.content-header
    h1 About
p.
    Chris Rodd is a highly experienced Insurance Lawyer, based in Melbourne, specialising in industry practices and procedures and insurance-related mediation. He also maintains a specific interest in insurance law education and training.
p.
    With over 36 years involvement with insurance and insurance law (including 27 with CGU), encompassing a range of different roles, Chris is uniquely qualified as an insurance law expert. 
p.
    He is the Australian representative on the AIDA (Association Internationale droit D’Assurance) Presidential Council and a member of the AIDA international working parties on “Climate Change and Insurance” and “Consumer Protection legislation”. He is a member of the US based organisation FDCC (Federation of Defence and Corporate Counsel) and in 2016 became Chair of the FDCC International Committee.