doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name = "viewport" content = "width=device-width,initial-scale=1") 
        link(rel="stylesheet", type='text/css', 
            href="{{url_for('chris_profile.static',filename='css/reset.css')}}")
        link(rel="stylesheet", type='text/css', 
            href="{{url_for('chris_profile.static',filename='css/style.css')}}")
        title Chris Rodd
        {% include "pre_load_images.html" %}
        
    body
        header
            h1 Chris Rodd
            nav
                a(href="#contact") Contact
        .hero-image
            .pre-load-hero 
        .content
            h1 Lorem Ipsum
            p.
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic eaque culpa explicabo facilis perferendis, est placeat ipsum aliquam, odit, ea ab quibusdam unde, cumque ducimus. Error debitis eveniet doloremque quasi numquam nobis, id voluptatem, nisi atque adipisci cumque, quibusdam beatae. Laudantium, consequatur nihil. Est, incidunt laudantium ex! Laborum, quidem, nihil?
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic eaque culpa explicabo facilis perferendis, est placeat ipsum aliquam, odit, ea ab quibusdam unde, cumque ducimus. Error debitis eveniet doloremque quasi numquam nobis, id voluptatem, nisi atque adipisci cumque, quibusdam beatae. Laudantium, consequatur nihil. Est, incidunt laudantium ex! Laborum, quidem, nihil?

        .content(class="alternate")
            h1 Lorem Ipsum
            p.
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nostrum iusto fugiat culpa, harum deleniti porro, consequatur aliquid alias explicabo a. Modi, nihil illo veniam voluptatem ea ex mollitia fuga.
        .content
            h1 Lorem Ipsum
            p.
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea mollitia adipisci unde ex, aperiam perferendis fugiat quisquam, hic a animi neque iure fugit aspernatur, ipsa natus deleniti maiores accusamus totam repellat omnis error. Quas, voluptate!
        footer(id="contact")
            // put one of those # tags in here so we can navigate to #contact
            h1 Contact
            p chris@chrismail.com
            p 0431 832 123
        script.
            // when bg image loaded, swap out full image
            window.onload = function loadSharpImages() {
                // Quit early if older browser (e.g. IE 8).
                if (!('addEventListener' in window)) return
                var preLoadBackground = document.querySelector(".pre-load-hero")
                var backgroundSourceFile = "{{url_for('chris_profile.static',filename='img/chris.jpg')}}"
                var backgroundImage = new Image();
                backgroundImage.src = backgroundSourceFile
                backgroundImage.onload = function() {
                    function fadeOut(i) {
                        preLoadBackground.style.opacity = 1 - 0.01*i
                        if (i >= 100) return
                        setTimeout(function(){fadeOut(i+1)},1)
                    }
                    fadeOut(0)
                }
            };
