doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name = "viewport" content = "width=device-width,initial-scale=1") 
        link(rel="stylesheet", type='text/css', 
            href="{{url_for('chris_profile.static',filename='css/reset.css')}}")
        link(rel="stylesheet", type='text/css', 
            href="{{url_for('chris_profile.static',filename='css/style.css')}}")
        title Chris Rodd
        {% include "pre_load_images.html" %}
        
    body
        header
            h1 Chris Rodd
            nav
                a(href="#contact") Contact
        .hero-image
            .pre-load-hero 
        // Christopher J Rodd    B.Juris, LLB, Grad Dip Ins Law, ANZIIF (Fellow) 
        // Insurance Law Consultant, 
        // Melbourne, Australia
        .content
            {% include "about_chris.html" %}
        .content(class="alternate")
            {% include "comittees.html" %}
        .content
            {% include "cgu.html" %}
        .content(class="alternate")
            {% include "teaching.html" %}
        footer(id="contact")
            // put one of those # tags in here so we can navigate to #contact
            h1 Contact
            p chrisjrodd@gmail.com
            p +61 401 993 411
        script.
            // when bg image loaded, swap out full image
            window.onload = function loadSharpImages() {
                // Quit early if older browser (e.g. IE 8).
                if (!('addEventListener' in window)) return
                var preLoadBackground = document.querySelector(".pre-load-hero")
                var backgroundSourceFile = "{{url_for('chris_profile.static',filename='img/chris.jpg')}}"
                var backgroundImage = new Image();
                backgroundImage.src = backgroundSourceFile
                backgroundImage.onload = function() {
                    function fadeOut(i) {
                        preLoadBackground.style.opacity = 1 - 0.01*i
                        if (i >= 100) return
                        setTimeout(function(){fadeOut(i+1)},1)
                    }
                    fadeOut(0)
                }
            };
