doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name = "viewport" content = "width=device-width,initial-scale=1") 
        link(rel="stylesheet", type='text/css', 
            href="{{url_for('static',filename='css/reset.css')}}")
        link(rel="stylesheet", type='text/css', 
            href="{{url_for('static',filename='css/style.css')}}")
        title Chris Rodd
        {% include "pre_load_images.html" %}
        
    body
        header
            h1 Christopher J Rodd
            h2 Insurance Law Consultant
        .hero-image
            .pre-load-hero 
        .button-box
            .button.selected(id="about-btn") About
            .button(id="comittees-btn") Comittees
            .button(id="cgu-btn") CGU
            .button(id="teaching-btn") Teaching
            .button(id="contact-btn") Contact
        .content(id="about-content")
            {% include "about_chris.html" %}
        .content(id="comittees-content", class="hidden")
            {% include "comittees.html" %}
        .content(id="cgu-content", class="hidden")
            {% include "cgu.html" %}
        .content(id="teaching-content", class="hidden")
            {% include "teaching.html" %}
        footer(id="contact-content" class="hidden")
            h1 Contact
            p chrisjrodd@gmail.com
            p +61 401 993 411
        script.
            // when bg image loaded, swap out full image
            window.onload = function loadSharpImages() {
                // Quit early if older browser (e.g. IE 8).
                if (!('addEventListener' in window)) return
                var preLoadBackground = document.querySelector(".pre-load-hero")
                var backgroundSourceFile = "{{url_for('static',filename='img/chris.jpg')}}"
                var backgroundImage = new Image();
                backgroundImage.src = backgroundSourceFile
                backgroundImage.onload = function() {
                    function fadeOut(i) {
                        preLoadBackground.style.opacity = 1 - 0.01*i
                        if (i >= 100) return
                        setTimeout(function(){fadeOut(i+1)},1)
                    }
                    fadeOut(0)
                }
            };
        script(src="{{url_for('static',filename='js/jquery-3.1.0.min.js')}}")
        script(src="{{url_for('static',filename='js/main.js')}}")