.content-header
    h1 Professional Committees

h3 Member FDCC - Substantive Law Sections
ul
    li 
        span.date 2012-16
        span FDCC Dispute Resolution 
    li 
        span.date 2012-16
        span FDCC Insurance coverage
    li 
        span.date 2012-16
        span FDCC Property Insurance

h3 National Board Australian Insurance Law Association (AILA)
ul
    li 
        span.date 2014-16
        span AIDA Presidential Council representative for AILA 
    li 
        span.date 2014-16
        span AILA Board Member 
    li 
        span.date 2007-09
        span AILA National President 
    li 
        span.date 2005-07
        span AILA National Vice President 
    li 
        span.date 2005-12
        span AILA National Board Member 
    li 
        span.date 1994-96
        span AILA National Board Member 
    li 
        span.date 1994-96
        span President - Victorian Branch AILA
    li 
        span.date 1990–2010 
        span Committee Member - Victorian Branch AILA 
    li 
        span.date 2009-16
        span Law Council of Australia National Insurance Law Group Committee Member 

h3 Insurance Council of Australia working party member: 
ul  
    li
        span.date ????-??
        span ICA Unfair Contracts Act Provisions working party ( S15 IC Act)
    li
        span.date 2003-05
        span ICA Liability Claims Forum member
    li
        span.date 1998
        span ICA / IEC Working Party – Third Party Access to IEC Scheme
    li
        span.date 1994-97
        span Benalla Flood Committee & Working Party
    li
        span.date 1994
        span Access to Justice (Contingency Fees) Working Party
    li
        span.date 1993-94
        span Concessions Agreement Working Party
    li
        span.date 1993
        span Insurance Contracts Act Review Committee
    li
        span.date 1995-96
        span Health and Other Services (Compensation) Act Working Party
    li
        span.date 1996-97
        span Claims Review Panel Terms of Reference Committee
    li
        span.date 1998–06
        span Guidelines Working Party
    li
        span.date 1992-93
        span Claims Review Panel Guidelines Committee 
    li
        span.date 2008-12
        span Financial Ombudsman Service (FOS) FOS Industry Liaison Committee
    li
        span.date 2008-10
        span FOS Terms of Reference Committee
    li
        span.date 2011
        span FOS Industry Liaison Committee
    li
        span.date 2004-07
        span FOS Industry Liaison Committee
    li
        span.date ????-??
        span Industry Subrogation Action Committee Longford Gas Explosion Australia*
    li
        span.date 1998-03
        span Insurance Industry Committee

p.
    *One of three industry nominated members to oversee industry interests and lead 23 insurers in recovery of insurance losses arising from the Longford Gas explosion.