.content-header
    h1 Membership
    h2 of Professional Committees
p.
    Member FDCC, Substantive Law Sections 2012- on going 
    -FDCC Dispute Resolution 
    -FDCC Insurance coverage
    -FDCC Property Insurance. 
p.
    National Board Australian Insurance Law Association (AILA): 
    AIDA Presidential Council representative for AILA and AILA Board Member 2014 -ongoing 
    AILA National President (2007 to 2009)
    AILA National Vice President (2005-2007)
    AILA National Board Member (2005- 2012) 
    AILA National Board Member (1994 -1996)
p.
    President - Victorian Branch AILA (1994 -1996). 
    Committee Member - Victorian Branch AILA (1990 – 2010) 
    Law Council of Australia National Insurance Law Group Committee Member (2009 – on going)
p.
    Insurance Council of Australia working party member: 
    ICA Unfair Contracts Act Provisions working party ( S15 IC Act)
    ICA Liability Claims Forum member - 2003 -2005
    ICA / IEC Working Party – Third Party Access to IEC Scheme -1998 
    Benalla Flood Committee & Working Party (1994 -1997).
    Access to Justice (Contingency Fees) Working Party (1994).
    Concessions Agreement Working Party (1993 -1994).
    Insurance Contracts Act Review Committee (1993).
     Health and Other Services (Compensation) Act Working Party (1995- 1996).
p.
    Claims Review Panel Terms of Reference Committee (1996 -1997)
    Guidelines Working Party (1998 – 2006)
    Claims Review Panel Guidelines Committee (1992- 1993).
    Financial Ombudsman Service (FOS) FOS Industry Liaison Committee (2008-2012) 
    FOS Terms of Reference Committee (2008-2010) 
    FOS Industry Liaison Committee (2004-2007, 2011)
    Industry Subrogation Action Committee Longford Gas Explosion Australia*
    Insurance Industry Committee (1998 -2003)
p.
    *One of three industry nominated members to oversee industry interests and lead 23 insurers in recovery of insurance losses arising from the Longford Gas explosion.