doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        link(href='https://fonts.googleapis.com/css?family=PT+Serif',rel='stylesheet',type='text/css')
        link(rel="stylesheet", type='text/css', 
            href="{{url_for('static',filename='css/reset.css')}}")
        link(rel="stylesheet", type='text/css', 
            href="{{url_for('static',filename='css/style.css')}}")
        title Chris Rodd Lawyer

    body
        header
            h1 Chris Rodd
        main
            .hero-image
            .content
                h1 Lorem Ipsum
                p.
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic eaque culpa explicabo facilis perferendis, est placeat ipsum aliquam, odit, ea ab quibusdam unde, cumque ducimus. Error debitis eveniet doloremque quasi numquam nobis, id voluptatem, nisi atque adipisci cumque, quibusdam beatae. Laudantium, consequatur nihil. Est, incidunt laudantium ex! Laborum, quidem, nihil?
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic eaque culpa explicabo facilis perferendis, est placeat ipsum aliquam, odit, ea ab quibusdam unde, cumque ducimus. Error debitis eveniet doloremque quasi numquam nobis, id voluptatem, nisi atque adipisci cumque, quibusdam beatae. Laudantium, consequatur nihil. Est, incidunt laudantium ex! Laborum, quidem, nihil?

            .content(class="alternate")
                h1 Lorem Ipsum
                p.
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nostrum iusto fugiat culpa, harum deleniti porro, consequatur aliquid alias explicabo a. Modi, nihil illo veniam voluptatem ea ex mollitia fuga.
            .content
                h1 Lorem Ipsum
                p.
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea mollitia adipisci unde ex, aperiam perferendis fugiat quisquam, hic a animi neque iure fugit aspernatur, ipsa natus deleniti maiores accusamus totam repellat omnis error. Quas, voluptate!
        footer
            h1 Contact