.content-header
    h1 Insurance Law Teaching

h3 Monash University Faculty of Law
ul
    li 
        span.date 2012-15 
        span Senior Fellow Law Faculty
    li 
        span.date 2014-15 
        span Lecturer in Insurance Law (4121)
    li 
        span.date 2012 
        span Lecturer in Insurance Law (4121)

h3 Melbourne University Faculty of Law
ul
    li 
        span.date 2011 
        span Lecturer in Insurance Law (Melbourne Master of Law program)