.content-header
    h1 Insurance Law Teaching

h3 Monash Univeristy Faculty of Law, Australia
ul
    li 
        span.date 2012-15 
        span Senior Fellow
    li 
        span.date 2014-15 
        span Lecturer in Insurance Law
    li 
        span.date 2012 
        span Lecturer in Insurance Law
    li 
        span.date 2010 
        span Senior Lecturer, Insurance Law

h3 Melbourne University Faculty of Law, Australia
ul
    li
        span.date 2014-15 
        span Senior Fellow and Lecturer in Insurance Law
    li 
        span.date 2012 
        span Senior Fellow and Lecturer in Insurance Law
    li 
        span.date 2011 
        span Lecturer, Master of Law Insurance
    li 
        span.date 2010 
        span Senior Lecturer, Insurance Law
p