.content-header
    h1 About
p.
    Chris Rodd is a highly experienced insurance lawyer, based in Melbourne, specialising in industry practices and procedures. He is a nationally accredited mediator and a professional member of the Resolution Institute. His specific interest as a mediator is in insurance related disputes. He is also involved in insurance law education and training.
p.
    For many years, his primary focus was his work as a plaintiff's personal injury lawyer with two Melbourne law firms. He specialised in motor vehicle and industrial accident common law claims, medical malpractice and  workers compensation. His practice included general and products liability work and a range of professional indemnity cases.
p.
    His diverse experiences in insurance related litigation make him uniquely skilled as a mediator, having participated in both sides of the litigation. Chris has worked as manager of the internal dispute resolution department of a large national insurer for many years. He has a balanced and objective understanding of insurance related disputes and a rare insight into insurance operations. With over 36 years insurance law experience (including 27 years with a large general insurer) and a significant international profile in insurance law, Chris has a unique set of skills and industry insights that he brings to his role as a mediator.
p.
    Chris' commitment to mediation as an alternative dispute resolution mechanism is demonstrated by his involvement as a member of an international working party on alternative dispute resolution in insurance disputes, in the Swiss based organisation, Association Internationale de Droit des Assurances (AIDA) and through his activities on the Alternative Dispute Resolution Committee of the US based organisation, Federation of Defence and Corporate Counsel (FDCC).

p Chris’s specialist expertise as a mediator includes:
ul
    li
        span &bull;&nbsp; Products liability 
    li
        span &bull;&nbsp; Public liability 
    li
        span &bull;&nbsp; Personal injury 
    li
        span &bull;&nbsp; Professional indemnity 
    li
        span &bull;&nbsp; Medical malpractice
    li
        span &bull;&nbsp; Reinsurance 
    li
        span &bull;&nbsp; Accident and disability 
    li
        span &bull;&nbsp; Disputes between insurers and insureds 
    li
        span &bull;&nbsp; Disputes between brokers and insurers 
    li
        span &bull;&nbsp; Disputes between brokers and insureds 
    li
        span &bull;&nbsp; Disputes between insurers 

p.
    During his 27 years with CGU Insurance he was involved in the resolution of countless claims and disputes arising from major catastrophic events including Queensland cyclones, the Longford Gas Explosion, the Newcastle Earthquake, the Brisbane Floods and the Sydney Hailstorm and in many instances utilised ADR processes to achieve settlements.
p
    | He is the Australian representative on the AIDA (Association Internationale droit D’Assurance) Presidential Council and a member of the AIDA international working parties on 
    span.italic Climate Change and Insurance 
    | and 
    span.italic Consumer Protection legislation. 
    | He is a member of the US based organisation FDCC (Federation of Defence and Corporate Counsel) and in 2016 became Chair of the FDCC International Committee.