// Definitions and mixins
@font-face
    font-family: 'abril-fat-face'
    src: url('../fonts/abril-fat-face-regular.otf')

$bg-light: #ffffff
$bg-grey: #f4f4f4
$bg-dark: #333

$chris-image: url(../img/chris.jpg)

h1
    font-family: 'abril-fat-face'
    color: #222

p
    font-family: 'PT Serif',Georgia,Times,serif
    color: #222

body 
    background-color: $bg-light

*
    //outline: red 1px solid

/* HEADER  */
header
    height: 70px
    outline: #ccc 2px solid
    background-color: white
    h1
        padding: 0 0 0 20px
        line-height: 70px
        font-size: 30px

main
    // main stuff here

.hero-image 
    height: 400px
    width: 100%
    background-image: $chris-image
    background-size: 100% auto
    background-position: center
    
.content
    min-height: 200px
    padding: 30px 0
    background-color: $bg-light
    h1 
        width: 60%
        max-width: 500px
        margin: 0 auto 20px auto
        padding: 0 0 10px 0
        text-align: center
        font-size: 30px
        border-bottom: 1px solid #ccc
    p
        width: 80%
        max-width: 700px
        margin: 0 auto 20px auto
        text-align: left
        line-height: 26px
        font-size: 18px

    

.alternate
    background-color: $bg-grey

footer
    height: 500px
    padding: 30px 0
    background-color: $bg-dark
    h1 
        width: 60%
        max-width: 500px
        margin: 0 auto 20px auto
        padding: 0 0 10px 0
        text-align: center
        font-size: 30px
        color: #fff
        border-bottom: 1px solid #fff
