// Definitions and mixins
//@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@font-face
    font-family: 'abril-fat-face'
    src: url('../fonts/abril-fat-face-regular.otf')

$bg-behind: #eee
$bg-light: #ffffff
$bg-grey: #f2f2f2
$bg-dark: #333
$paragraph-text: #111

$chris-image: url(../img/chris.jpg)


$desktop: "(min-width: 950px)"
$phone: "(max-height: 475px), (max-width: 500px)"

 

h1, h2, nav, a, .button
    font-family: 'abril-fat-face'
    color: #222

p, li, h3
    font-family: 'EB Garamond',Georgia,Times,serif
    color: $paragraph-text
p, li
    font-weight: 400
h3 
    font-weight: 600

html
    background-color: $bg-behind

body 
    background-color: $bg-light
    font-size: 10px
    @media #{$desktop}
        width: 900px
        margin: 0 auto
        box-shadow: 2px 0px 30px 2px #666
        background-color: #fff
    @media #{$phone}
        font-size: 7px

/* HEADER  */
header
    height: 7em
    line-height: 7em
    background-color: white
    h1
        float: left   
        margin-left: 1em
        font-size: 3em
    h2
        float: right
        margin-right: 3em
        font-size:  1.5em
        @media (max-width: 600px)
            // When the subtitle clashes with the title
            display: none

    @media #{$desktop}
        height: 10em
        line-height: 10em
    @media #{$phone}
        h1
            float: none
            margin: 0
            display: block
            text-align: center

.hidden
    display: none

.hero-image
    background-color: $bg-grey
    height: 55em
    width: 100%
    background-image: $chris-image
    background-size: cover
    background-position: 5% 5%
    @media #{$desktop}
        background-position: center 5%
    @media #{$phone}
        background-position: left 5%

.pre-load-hero
    @extend .hero-image
    // background-image set inline in HTML
    opacity: 1 
    z-index: -1

.content
    box-sizing: border-box
    min-height: 90vh
    padding: 0 0 4em 0
    background-color: $bg-light
    .content-header
        width: 60%
        max-width: 600px
        margin: 0 auto 3em auto
        padding: 0 0 2em 0
        border-bottom: 1px solid #ccc
        text-align: center

    h1 
        font-size: 2.5em
    h2,
        font-size: 2em
    h1+h2
        padding: 0.7em 0 0 0

    p, h3, li
        width: 80%
        max-width: 700px
        margin: 0 auto 0 auto
        text-align: left
        line-height: 1.7em
        font-size: 1.8em
        letter-spacing: 0.3px

    span.italic
        font-style: italic

    li
        padding: 0.1em 0 0.1em 2em
    p
        margin-bottom: 1.2em
        &:nth-last-child(1)
            margin-bottom: 1em
    ul
        margin-bottom: 3em
        &:nth-last-child(1)
            margin-bottom: 1em
    span.date
        display: inline-block
        width: 5em

    .alternate
        background-color: $bg-grey

.button-box
    @extend .content
    box-sizing: border-box
    min-height: 10vh
    margin: 0 auto
    padding: 4em 0 4em 0
    text-align: center
    @media #{$phone}
        padding: 2em 0em 4em 0em
    .button
        @extend h2
        cursor: pointer
        display: inline-block
        height: 2em
        line-height: 0
        padding: 1em 0.4em
        box-sizing: border-box
        &:hover
            text-decoration: underline
        &.selected
            color: #a15
        @media #{$phone}
            padding: 1.5em 0
    .button+.button
        margin-left: 20px

footer
    box-sizing: border-box
    height: 90vh
    padding: 5em 0
    background-color: $bg-dark
    h1 
        width: 60%
        max-width: 500px
        margin: 0 auto 1.5em auto
        padding: 0 0 1em 0
        text-align: center
        font-size: 3em
        color: #fff
        border-bottom: 1px solid #fff
    p
        margin: 0 auto 2em auto
        text-align: center
        font-size: 1.8em
        color: #fff


 