<div class="content-header"><h1>Insurance Law Teaching</h1><h2>Monash University and Melbourne University, Australia</h2></div><p>2012-15 Senior Fellow, Faculty of Law, Monash University. 
2015- Senior Fellow and lecturer in Insurance Law, Faculty of Law, Monash University, Melbourne 
2014 – Senior Fellow and Lecturer, in Insurance law, Faculty of Law, Monash University. Melbourne 
2012- Senior Fellow and Lecturer in Insurance Law, Faculty of Law, Monash University, Melbourne, Australia
2011- Lecturer, Master of Law Insurance, Melbourne University, Australia
2010- Senior Lecturer, Insurance Law, Faculty of Law, Monash University, Melbourne, Australia</p>